---
layout: splash
header:
  overlay_filter: "0.5"
  overlay_image: ""
intro:
  - excerpt:
      Hello and welcome to my page. I made this mainly for learning purposes & to help me showcase the things I like to learn about and work on :)
feature_row:
  - image_path: ""
    alt: ""
    title: "CTF"
    excerpt: "Find CTF-related stuff here."
    url: "/ctf/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: ""
    alt: ""
    title: "Projects"
    excerpt: "Find project-related stuff here."
    url: "/projects/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: ""
    alt: ""
    title: "Resume"
    excerpt: "You can download a copy of resume here."
    url: "/assets/resume/alan_souvannavong_resume.pdf"
    btn_label: "Download"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}